:root {
    --purple-color: #731897;
    --dark-color: #524f4f;
}

.question-page-main-back-container {
    background-color: rgba(245, 245, 245, 0.897);
    width: 98vw;
    margin-top: 8%;
    margin-bottom: 1%;
}

.question-row a:first-child {
    background: -webkit-linear-gradient(to right, #8E2DE2, #4A00E0);
    background: linear-gradient(to right, #8E2DE2, #4A00E0);
    color: white!important;
    text-transform: uppercase;
    font-size: 1.1rem;
    letter-spacing: 1px;
}

.question-row a {
    text-align: left;
    font-size: 1rem;
}

@media only screen and (min-width: 768px) {
    .question-page-main-back-container {
        width: 50vw;
        background-color: rgba(245, 245, 245, 0.897);
        min-height: 50vh;
    }
    .question-row a:first-child {
        font-size: 1.2rem;
    }
    .question-row a {
        font-size: 1.2rem;
    }
}