:root {
    --purple-color: #731897;
    --dark-color: #524f4f;
}

.question-page-main-back-container {
    background-color: rgba(245, 245, 245, 0.897);
    width: 98vw;
    margin-top: 25%;
    margin-bottom: 1%;
}

.question-row a:first-child {
    background: -webkit-linear-gradient(to right, #8E2DE2, #4A00E0);
    background: linear-gradient(to right, #8E2DE2, #4A00E0);
    color: white!important;
    text-transform: uppercase;
}

@media only screen and (min-width: 768px) {
    .question-page-main-back-container {
        margin-top: 10%;
        width: 50vw;
        background-color: rgba(245, 245, 245, 0.897);
    }
}