<body class="stat-background">
    <div class="stat-page-main-back-container  container-fluid index-svg-background">
        <div class="type-of-quiz text-center text-light"></div>
        <div class="d-flex align-items-center p-2 text-light">
            <div class="list-group container p-0 mt-1 mb-1">
                <div class="list-group question-row">
                    <h3 class="text-center p-4">The average result of {{type_id}}:</h3><br>
                    <h2 class="text-center">{{stat}} &#x25;</h2>
                </div>
                <span class="d-flex justify-content-center mt-4 font-weight-bolder ">
                    <a type="submit" href="/" class="btn btn-success m-3 text-light"> START NEW QUIZ</a>
                </span>
            </div>
        </div>
    </div>
</body>
