:root {
    --purple-color: #731897;
    --dark-color: #524f4f;
}

.question-background {
    animation: background-gradient 20s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    background-image: linear-gradient( circle at 0% 80%, #026363, #501983);
}

@keyframes background-gradient {
    0% {
        background-color: #026363;
    }
    25% {
        background-color: #501983;
    }
    50% {
        background-color: #501983;
    }
    100% {
        background-color: #026363;
    }
}

.result-background {
    background-color: black;
    background-image: url("../../result-page-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.stat-background {
    background-color: black;
    background-image: url("../../question-page-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}