.stat-page-main-back-container {
    background-color: rgba(23, 36, 36, 0.952);
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}